<div class="ask">
  <h1>Questions#ask</h1>
  <p>Find me in app/views/questions/ask.html.erb</p>
  <form action="answer" class="form-inline flex-container">
    <input type="text" class="form-control input-box" name="user_input">
    <input type="submit" class="form-control submit btn btn-primary" value="Ask!">
  </form>
</div>
